<nav class="navbar navbar-expand-lg navbar-light fw-bold bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/recipes">Recipe</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isloggedIn">
          <a class="nav-link" routerLink="/recipes" routerLinkActive="active"
            >Recipe</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/shopping-list"
            routerLinkActive="active"
            >Shopping List</a
          >
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!isloggedIn">
          <a class="nav-link" routerLink="/auth" routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item dropdown" *ngIf="isloggedIn">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDarkDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Manage
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="navbarDarkDropdownMenuLink"
          >
            <li>
              <a
                class="dropdown-item"
                style="cursor: pointer"
                type="button"
                (click)="onSaveData()"
                >Save Recipe</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                style="cursor: pointer"
                type="button"
                (click)="onFetchData()"
                >Fetch Recipe</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                style="cursor: pointer"
                type="button"
                (click)="onLogout()"
                >Logout</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
